{% extends 'base.html' %}
{% load tz %}
{% load static %}
{% block content %}


{% for item in posts %}
    <h3><a class="p-2" href="{% url 'post' item.id %}">{{ item.title }} </a></h3>
    <div class="p-3">
        {{ item.category }}

        {% if usertimezone %}
            <p>{{ post.time_create|timezone:usertimezone|date:"G:i d M Y" }}</p>
        {% else %}
            <p>{{ post.time_create|date:"G:i d M Y" }}</p>
        {% endif %}

        {{ item.content|safe }}
        {{ item.content_upload|safe }}
    </div>

{% endfor %}
{% endblock %}