{% extends 'base.html' %}
{% load tz %}
{% load static %}
{% load posts_tags %}
{% block content %}
    <form action="" method="GET">
        {{ form.as_p }}
        <input type="submit" value="Фильтровать" />
    </form>
{% for item in posts %}
    <h3><a class="p-2" href="{% url 'post' item.id %}">{{ item.title }} </a></h3>
    <div class="p-3">
        {% if usertimezone %}
            <p>{{ item.time_create|timezone:usertimezone }}</p>
        {% else %}
            <p>{{ item.time_create|date:"G:i d M Y" }}</p>
        {% endif %}
        <p>Автор: {{ item.author }}</p>
        <p>Категория: {{ item.category }}</p>



        {{ item.content|safe }}
        {{ item.content_upload|safe }}
    </div>
{% endfor %}
     {# Информация о предыдущих страницах #}
   {% if page_obj.has_previous %}
       <a href="?{% url_replace page=1%}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
    {% endif %}
{% endblock %}