{% extends 'base.html' %}
{% load tz %}
{% load static %}
{% block title %}
    {{title}}
{% endblock %}
{% block content %}
    {% if title == 'Исходящие отклики' %}
        <a href="{% url 'responses'  %}">Входящие отклики</a>
        <h3>Исходящие отклики</h3>
        {% for response in responses %}
            <h5 class="p-2">  Отклик № {{ response.id }}</h5>
            <p><a href="{% url 'post' response.post.id %}">{{ response.post }}</a>: {{ response.text }} </p>
            {% if response.accepted_datetime %}
                {% if response.accepted %}
                    <p>Принято пользователем {{ response.accepted_datetime|timezone:usertimezone }}</p>
                {% else %}
                    <p>Отклонено {{ response.accepted_datetime|timezone:usertimezone }}</p>
                {% endif %}
            {% else %}
                <p>Ждет ответа пользователя</p>
            {% endif %}
        {% endfor %}
    {% elif title == 'Входящие отклики' %}

        <a href="{% url 'responses'  %}?send=1">Отправленные</a>
        {% if postlist %}
            <form action="" method="get">
                <select name="postfilter" required="">
                    <option value="" selected="">---------</option>
                    {% for post in postlist %}
                        <option value="{{ post.id }}" {% if choosenpost == post.id %}selected{% endif %}>{{post.title}}</option>
                    {% endfor %}
                </select>
                <button type="submit" name="">Фильтровать</button>
            </form>
        {% endif %}
        <h3>Входящие отклики</h3>
        {% for response in responses %}
            <h5 class="p-2">Отклик № {{ response.id }}</h5>
            <a href="{% url 'post' response.post.id %}">{{ response.post.title }}</a>
            <p>Пользователь: {{ response.sender }}
            <p>Текст:{{ response.text }}</p>
            {% if response.accepted_datetime %}
                {% if response.accepted %} Принято {% else %} Отклонено {% endif %} {{ response.accepted_datetime|timezone:usertimezone }}
            {% else %}
                <form method="post">
                    {% csrf_token %}
                    <button name="accept" value="{{ response.id }}">Принять</button>
                    <button name="reject" value="{{ response.id }}">Отклонить</button>
                </form>
                Надо обработать!
            {% endif %}

        {% endfor %}
    {% endif %}



{% endblock %}